.about-title {
    font-size: 2.2rem; /* Slightly increased for better prominence */
    color: #00ffcc; /* Neon green color */
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px; /* Adjusted margin */
    text-shadow: 0 0 15px rgba(0, 255, 204, 0.8); /* Enhanced glowing effect */
    transition: color 0.3s; /* Smooth color transition */
}

.about-title:hover {
    color: #00cc99; /* Slightly darker neon green on hover */
}

.about-me {
    background-color: rgba(159, 226, 217, 0.9); /* Darker background for contrast */
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border-radius: 10px; /* Increased for a smoother look */
    padding: 20px; /* Increased padding for better spacing */
    max-width: 480px; /* Retained max width */
    max-height: 480px;
    margin: 0 auto; /* Center the container */
    box-shadow: 0 8px 30px rgba(0, 255, 204, 0.5); /* Enhanced shadow for depth */
    animation: fadeIn 0.5s; /* Fade-in effect */
    border: 2px solid #00ffcc; /* Thicker neon border */
    margin-bottom: 40px;
}

.skills-title {
    font-size: 1.8rem; /* Slightly increased for better visibility */
    text-align: center;
    color: #00ccff; /* Neon blue color */
    margin-top: 20px; /* Adjusted margin */
    text-shadow: 0 0 15px rgba(0, 204, 255, 0.8); /* Enhanced glowing effect */
    transition: color 0.3s; /* Smooth color transition */
}

.skills-title:hover {
    color: #0099cc; /* Slightly darker blue on hover */
}

.skills-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.skills-list li {
    text-align: center;
    margin: 10px 0; /* Adjusted margin for tighter spacing */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    padding: 12px; /* Increased padding */
    border-radius: 6px; /* Slightly increased border radius */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}

.skills-list li:hover {
    background-color: rgba(0, 204, 255, 0.5); /* Brighter blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
