/* styles/App.css */
body {
    background-image: url("../images/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Arial', sans-serif; /* Clean font for better readability */
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: rgba(2, 1, 1, 0.8);
    opacity: 0.9; /* Slightly increased opacity for better visibility */
    border-radius: 15px; /* Reduced border radius for a sharper look */
    margin: 20px;
    margin-top: 50px;
   max-height: 800px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Added shadow for depth */
}

.App-header {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(238, 224, 224, 0.8); /* Increased opacity for better contrast */
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for the header */
}

.app-nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin: 0 10px; /* Reduced margin for tighter spacing */
}

.nav-link {
    color: #1b717c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007BFF; /* Blue color on hover */
}

.title-head {
    font-size: 2.5rem;
    color: #54e780; /* Changed to a brighter color for contrast */
    text-align: center;
    margin-top: 0;
    padding: 20px;
    position: sticky;
    border-bottom: 2px solid #007BFF;
}

/* Responsive design */
@media (max-width: 768px) {
    .title-head {
        font-size: 2rem; /* Smaller font size on mobile */
    }

    .nav-item {
        margin: 0 5px; /* Further reduced margin on mobile */
    }

    .App {
        padding: 15px; /* Reduced padding on mobile */
    }
}
